<%- include("partials/head", { pageTitle }) %>
<%- include("partials/navbar", { activeRoute }) %>

<section class="main-section section active">
  <h1>404</h1>
  <p>Page not found.</p>
  <div class="quick-links">
    <a href="/"><span><i class="fa-solid fa-house"></i></span>Back Home</a>
  </div>
</section>

<%- include("partials/footer") %>
