<%- include("partials/head", { pageTitle }) %>
<%- include("partials/navbar", { activeRoute }) %>

<section class="section sec-1 active" id="contact">
  <h2>Contact Me</h2>
  <hr />

  <form action="/contact" method="POST">
    <label for="name">Name</label>
    <input type="text" id="name" name="name" placeholder="Your Name" required />

    <label for="email">E-mail</label>
    <input type="email" id="email" name="email" placeholder="Your email" required />

    <label for="message">Message</label>
    <textarea id="message" name="message" class="area-text" placeholder="Type here" required></textarea>

    <button id="contact-btn" type="submit">Send</button>

    <% if (successMessage) { %>
      <p role="alert" id="contact-success"><%= successMessage %></p>
    <% } %>
  </form>
</section>

<%- include("partials/footer") %>
